PORT=3000
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/postgres?schema=public"
JWT_SECRET="queueup_super_secret_jwt_key_2026"
CLEVERTAP_ACCOUNT_ID="TEST-XXX-XXXX"
CLEVERTAP_PASSCODE="TEST-XXX-XXXX"
